@media (max-width: 576px) {
    .card img {
        padding: 1rem;
    }
    .card-body {
        padding: 1rem;
    }
}

#btncolour {
    background-color: #FF595A;
    outline-color: none;
}
#btncolour a{
    text-decoration: white;
}

#cardbox {
    background: linear-gradient(217deg,rgba(202, 192, 179, 0.9),rgba(202, 192, 179, 0.7));
    /*background: linear-gradient(217deg, rgba(0, 18, 51, 0.9),rgb(0, 18, 51))*/
}

input {
    background: linear-gradient(217deg,rgba(202, 192, 179, 0.9),rgba(202, 192, 179, 0.7));
}

textarea{
    background: linear-gradient(217deg,rgba(202, 192, 179, 0.9),rgba(202, 192, 179, 0.7));
}

li{
    color: #001233;
}

/* Add this to style.css */

/* Navbar text color */
.navbar-nav .nav-link {
    color: #001233;
    font-weight: 3px;
}

/* Navbar text hover color */
.navbar-nav .nav-link:hover {
    color: #FF595A;
}

.profile-image-container {
    position: relative;
    width: 500px; 
    height: 500px; 
    background: linear-gradient(45deg, #FF595A, #001233, #FF595A);
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 4rem;
    margin-left: 4rem;
}

.profile-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    /*border: 5px solid #CAC0B3;*/
}

.icon-circle {
    background-color: #FF595A;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-circle img {
    width: 20px; 
    height: 20px; 
}


/*------------------------------------------------------------*/
/* Define keyframes for animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
